POSTGRES_DB=external_ombudsman
POSTGRES_USER=external_ombudsman_user
POSTGRES_PASSWORD=sua_senha_aqui
POSTGRES_PORT=5433

JWT_SECRET=sua_chave_jwt_super_secreta_aqui

ADMIN_USERNAME=username_do_admin_aqui
ADMIN_INITIAL_PASSWORD=senha_do_admin_aqui

ADMIN_NOTIFICATIONS_ENABLED=false
ADMIN_NOTIFICATION_EMAIL=email_do_admin_aqui

REPORT_RETENTION_ENABLED=true
REPORT_RETENTION_DAYS=180
REPORT_RETENTION_BATCH_SIZE=100